{{ $caption := .Title | $.Page.RenderString }}
{{ $alt := .Text | default $caption | plainify }}
{{ $image := .Page.Resources.GetMatch .Destination }}
{{ if not $image }}
  {{ errorf "file not found %s" .Destination }}
{{ end }}
{{ $version := partial "version" $image }}
<figure>
  <img src="{{ $image.RelPermalink }}{{ $version }}" alt="{{ $alt }}" width="{{ $image.Width }}" height="{{ $image.Height }}" loading="lazy">
  {{ with $caption }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
