{{- $destination := .Destination -}}
{{- $target := "_blank" }}
{{- $url := urls.Parse $destination -}}
{{- if not $url.IsAbs -}}
  {{- /* Convert to root relative destination */ -}}
  {{- if not (hasPrefix $destination "/") -}}
    {{- $destination = path.Join .Page.RelPermalink $destination -}}
  {{- end -}}
  {{- $extension := path.Ext $url.Path -}}
  {{- /* Check if destination is a page */ -}}
  {{- if or (eq $extension "") (eq $extension "md") (eq $extension "html") -}}
    {{- /* Check if destination page exists */ -}}
    {{- if not (or (.Page.GetPage $url.Path) (.Page.GetPage (path.Join $url.Path "index.md"))) -}}
      {{- errorf "Page not found %s" $url.Path -}}
    {{- end -}}
    {{- $target = "_self" -}}
  {{- end -}}
{{- end -}}
<a
  href="{{ $destination | safeURL }}"
  target="{{ $target }}"
  {{ with .Title }}title="{{ . }}"{{ end }}
>
  {{- .Text | safeHTML -}}
</a>
{{- /* Trim whitespace */ -}}
