{{- $url := urls.Parse .Destination -}}
{{- if not $url.IsAbs -}}
  {{- with $url.Path -}}
    {{- $ext := path.Ext . -}}
    {{- if or (eq $ext "") (eq $ext "md") }}
      {{- if not (or ($.Page.GetPage .) ($.Page.GetPage (path.Join . "index.md"))) -}}
        {{- errorf "Page not found %s" . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<a
  href="{{ .Destination | safeURL }}"
  {{ with .Title }}title="{{ . }}"{{ end }}
  {{ if $url.IsAbs }}target="_blank" rel="noopener"{{ end }}
>
  {{- .Text | safeHTML -}}
</a>
{{- /* Trim whitespace */ -}}
