@import "assets/scss/utils";

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(6);
  width: 100%;
  max-width: $xl;
  margin: auto;
  padding: $container-padding;

  canvas {
    width: 100%;
    background: $neutral-6;
    aspect-ratio: 3 / 2;
    pointer-events: none;
    user-select: none;
  }

  .controls {
    width: 100%;
    max-width: $md;
  }
}
