@import 'utils';

:root {
  --horizons-1: #5a1335;
  --horizons-2: #953564;
  --horizons-3: #be636b;
  --horizons-4: #d4a7e2;
  --horizons-5: #5f90f3;
  --horizons-6: #2f37b8;
  --horizons-7: #0f1466;
  --horizons-8: #04040e;

  --shade-1: #{hsv(240, 0%, 95%)};
  --shade-2: #{hsv(240, 0%, 90%)};
  --shade-3: #{hsv(240, 20%, 55%)};
  --shade-4: #{hsv(240, 40%, 45%)};
  --shade-5: #{hsv(240, 40%, 35%)};
  --shade-6: #{hsv(240, 40%, 30%)};
  --shade-7: #{hsv(240, 40%, 25%)};
  --shade-8: #{hsv(240, 70%, 5%)};
}

::selection {
  color: var(--horizons-8);
  background-color: var(--horizons-5);
}

body {
  background-image: url('/posts/horizons/img/noise.png');
}

h1,
h2,
h3 {
  width: fit-content;
  color: transparent;
  background: linear-gradient(to right, var(--horizons-5), var(--horizons-4));
  background-clip: text;
}

@font-face {
  font-family: 'Axion RND';
  font-weight: 500;
  font-display: block;
  font-style: normal;
  src: url('fonts/axion-rnd.woff') format('woff2');
}

.font-axion-rnd {
  font-family: 'Axion RND', Inter, Roboto, ui-sans-serif, sans-serif;
}

.markdown .symbols {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: spacing(2);

  figcaption {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
