@import "common";

.archive {
  @include tail {
    margin-top: spacing(4);
  }

  :is(h1, h2, h3):not(:first-child) {
    margin-top: spacing(6) !important;
  }
}

.record {
  display: flex;
  gap: spacing(4);
  padding: spacing(2) spacing(0);
  border-bottom: 2px dashed var(--gray-6);

  @include constricted {
    nav {
      display: none;
    }
  }

  time {
    flex-grow: 1;
    color: var(--gray-3);
    font-feature-settings: "tnum";
    text-align: right;
  }
}
