@import "utilities";

.audio {
  @include text-sm;
  display: flex;
  align-items: center;
  background: $neutral-5;
  color: $neutral-3;
  font-weight: 500;
  font-feature-settings: var(--font-features), "tnum";
  border-radius: 1px;
  touch-action: none;

  audio {
    display: none;
  }

  button {
    padding: spacing(2);
  }

  .active {
    width: spacing(20) !important;
  }

  .volume-menu {
    display: flex;
    align-items: center;
    gap: spacing(1);

    .volume-menu-inner {
      width: spacing(0);
      display: flex;
      transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .bar {
    display: flex;
    flex-grow: 1;
    padding: spacing(2) 0;
    cursor: pointer;

    .inner {
      display: flex;
      flex-grow: 1;
      height: spacing(1);
      background: $neutral-4;

      .progress {
        background: $neutral-3;
      }
    }
  }

  .progress-bar {
    margin-left: spacing(3);
  }

  .volume-bar {
    margin-left: spacing(4);
  }
}
