@import "utilities";

.audio {
  @include text-sm;
  display: flex;
  align-items: center;
  background: $neutral-5;
  color: $neutral-3;
  font-weight: 500;
  font-feature-settings: "calt", "tnum";
  border-radius: 1px;
  touch-action: none;

  audio {
    display: none;
  }

  button {
    padding: spacing(2);
  }

  .bar {
    display: flex;
    flex: 1;
    padding: spacing(2) 0;
    cursor: pointer;

    .scrubber {
      display: flex;
      flex: 1;
      height: spacing(1);
      background: $neutral-4;

      &::after {
        content: '';
        width: calc(100% * var(--value));
        background: $neutral-3;
      }
    }
  }

  .progress {
    display: flex;
    flex: 1;

    .bar {
      margin-left: spacing(3);
    }
  }

  .volume-menu {
    display: flex;
    align-items: center;
    gap: spacing(1);

    .volume {
      display: flex;
      flex: 1;
      transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);

      .bar {
        margin-left: spacing(4);
      }
    }
  }
}
