@import "palette";

:root {
  --font-features: "calt", "ccmp", "cv07", "kern";
  --color-prose-1: #{$color-prose-1};
  --color-prose-2: #{$color-prose-2};
  --color-prose-3: #{$color-prose-3};
  --color-elevate-1: #{$color-elevate-1};
  --color-elevate-2: #{$color-elevate-2};
  --color-elevate-3: #{$color-elevate-3};
  --color-accent: #{$color-accent};
}

.dark {
  --color-prose-1: #{$dark-color-prose-1};
  --color-prose-2: #{$dark-color-prose-2};
  --color-prose-3: #{$dark-color-prose-3};
  --color-elevate-1: #{$dark-color-elevate-1};
  --color-elevate-2: #{$dark-color-elevate-2};
  --color-elevate-3: #{$dark-color-elevate-3};
  --color-accent: #{$dark-color-accent};
}

html, body {
  @apply h-full;
}

body {
  @apply bg-elevate-1;
  @apply text-prose-2;
  @apply antialiased;
  @apply scroll-smooth;

  font-size: 15px;
  font-feature-settings: var(--font-features);
  letter-spacing: -0.004em;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-accent;
  @apply text-prose-1;
}
