:root {
  --font-features: "calt", "ccmp", "cv07", "kern";
}

html, body {
  @apply h-full;
}

body {
  @apply bg-elevate-1;
  @apply text-prose-2;
  @apply antialiased;
  @apply scroll-smooth;

  font-size: 15px;
  font-feature-settings: var(--font-features);
  letter-spacing: -0.004em;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-accent;
  @apply text-prose-1;
}
