@import "variables";

.content {
  h1, h2  {
    @apply pb-4;
  }

  h3, h4, h5, h6 {
    @apply pb-3;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply relative;
    @apply w-content;
    @apply font-bold;

    &:after {
      @apply absolute;
      @apply bottom-0;
      @apply left-0;
      @apply max-w-full;
      @apply bg-var-accent;

      width: 3.375rem;
      height: 3px;
      content: "";
    }
  }

  @screen sm {
    h1, h2, h3, h4, h5, h6 {
      &:after {
        @apply w-16;
      }
    }
  }

  h1 { @apply text-3xl;  }
  h2 { @apply text-2xl;  }
  h3 { @apply text-xl;   }
  h4 { @apply text-lg;   }
  h5 { @apply text-base; }
  h6 { @apply text-base; }

  @screen sm {
    h1 { @apply text-4xl;  }
    h2 { @apply text-3xl;  }
    h3 { @apply text-2xl;  }
    h4 { @apply text-xl;   }
    h5 { @apply text-lg;   }
    h6 { @apply text-base; }
  }

  a {
    @apply underline;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  table {
    @apply w-full;
    @apply border-collapse;
  }

  table, th, td {
    @apply p-2;
    @apply border;
    @apply border-var-border;
  }

  th {
    @apply font-bold;
    @apply bg-var-background-secondary;
  }

  blockquote {
    @apply relative;
    @apply pl-4;
    @apply py-2;
    @apply border-l-6;
    @apply border-var-background-tertiary;

    .dark & {
      @apply border-var-background-secondary;
    }

    cite {
      @apply not-italic;
    }
  }
}
