@import "variables";

.content {
  h1, h2, h3, h4, h5, h6 {
    @apply relative;
    @apply pb-3;
    @apply font-bold;

    &:after {
      @apply absolute;
      @apply bottom-0;
      @apply left-0;
      @apply w-16;
      @apply bg-var-accent;

      height: 3px;
      content: "";
    }
  }

  h1 { @apply text-3xl;  }
  h2 { @apply text-2xl;  }
  h3 { @apply text-xl;   }
  h4 { @apply text-lg;   }
  h5 { @apply text-base; }
  h6 { @apply text-base; }

  @screen md {
    h1 { @apply text-4xl;  }
    h2 { @apply text-3xl;  }
    h3 { @apply text-2xl;  }
    h4 { @apply text-xl;   }
    h5 { @apply text-lg;   }
    h6 { @apply text-base; }
  }

  a {
    @apply underline;
  }

  figcaption {
    @apply mt-1.5;
    @apply text-sm;
    @apply text-center;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  table {
    @apply w-full;
    @apply border-collapse;
  }

  table, th, td {
    @apply p-2;
    @apply border;

    border-color: mix($light-color-secondary, $light-background, 50%);

    .dark & {
      border-color: mix($dark-color-secondary, $dark-background, 50%);
    }
  }

  th {
    @apply font-bold;
    @apply bg-var-background-secondary;
  }

  blockquote {
    @apply relative;
    @apply p-4;
    @apply bg-var-header;
    @apply border-l-6;

    border-color: darken($light-header, 15%);

    .dark & {
      border-color: lighten($dark-header, 15%);
    }
  }

  @screen sm {
    blockquote {
      @apply pl-12;

      &::before {
        @apply absolute;
        @apply top-1.5;
        @apply left-3;
        @apply text-7xl;

        content: "\201C";
        font-family: Arial, sans-serif;
        color: darken($light-header, 20%);

        .dark & {
          color: lighten($dark-header, 20%);
        }
      }
    }
  }
}
