@mixin roboto-font($weight, $name) {
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: $weight;
    src: url('/fonts/Roboto-' + $name + '.woff2') format('woff2'),
         url('/fonts/Roboto-' + $name + '.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: italic;
    font-weight: $weight;
    src: url('/fonts/Roboto-' + $name + 'Italic.woff2') format('woff2'),
         url('/fonts/Roboto-' + $name + 'Italic.woff') format('woff');
  }
}

@include roboto-font(400, 'Regular');
@include roboto-font(500, 'Medium');
@include roboto-font(700, 'Bold');
@include roboto-font(900, 'Black');
