@mixin font($name, $weight, $weight-name) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/' + $name + '-' + $weight-name + '.woff2') format('woff2'),
         url('/fonts/' + $name + '-' + $weight-name + '.woff') format('woff');
  }

  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/' + $name + '-' + $weight-name + 'Italic.woff2') format('woff2'),
         url('/fonts/' + $name + '-' + $weight-name + 'Italic.woff') format('woff');
  }
}

@include font('Roboto', 400, 'Regular');
@include font('Roboto', 500, 'Medium');
@include font('Roboto', 700, 'Bold');
@include font('Roboto', 900, 'Black');
@include font('JetBrainsMono', 400, 'Regular');
@include font('JetBrainsMono', 500, 'Medium');
@include font('JetBrainsMono', 700, 'Bold');
