@import "utilities";

h1, h2, h3 {
  color: $neutral-1;
  text-align: left;
  font-weight: 800;
  letter-spacing: -0.025em;
}

h1 { @include text-3xl; }
h2 { @include text-xl;  }
h3 { @include text-lg;  }

@each $level in 1, 2, 3 {
  h#{$level} {
    &::before {
      content: repeat('#', $level);
      margin-right: 0.33em;
      color: $accent;
    }
  }
}
