@import "utils";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $md;
  margin: 0 auto;
  padding: size(5) size(4);
  color: var(--color-neutral-1);
}

.header-menu {
  display: flex;

  @include tail {
    margin-left: size(8);
  }
}

.header-links {
  display: flex;
  font-weight: 500;

  @include tail {
    margin-left: size(8);
  }
}

.wordmark {
  display: flex;
  align-items: center;
  font-weight: 800;

  &::after {
    content: '';
    width: size(2.5);
    height: size(4);
    margin-left: size(1.5);
    background: var(--color-accent);
    border-radius: $px;

    @keyframes pulsate {
      0%   { opacity: 0; }
      50%  { opacity: 1; }
      100% { opacity: 0; }
    }

    animation: pulsate 1s infinite;
  }
}

