@import "utils";

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(16);

  .items {
    display: flex;
    flex-direction: column;
    gap: spacing(8);
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: spacing(4);

    h1 {
      @include text-lg;
      margin-bottom: spacing(-1);
    }
  }
}
