@import "utils";

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(16);

  .items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      flex-direction: column;
      gap: spacing(5);
      padding: spacing(8) 0;
      border-bottom: 2px dashed $neutral-4;

      h1 {
        @include text-xl;
        margin-bottom: spacing(-1.5);
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }
}
