.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: spacing(20);
}

.group {
  position: relative;

  h1 {
    position: absolute;
    top: spacing(-12);
    left: spacing(-8);
    color: transparent;
    font-size: spacing(24);
    font-weight: 700;
    line-height: 1;
    -webkit-text-stroke: 2px var(--gray-7);
    user-select: none;
    z-index: -1;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
}

.item {
  display: flex;
  align-items: center;
  gap: spacing(2);
  max-width: fit-content;

  time {
    color: var(--gray-3);
    font-size: var(--text-sm);
  }
}
