@import "utils";

.markdown {
  text-align: justify;
  hyphens: auto;

  @include screen-md {
    text-align: left;
  }

  @include tail {
    margin-top: spacing(4);
  }

  :is(h1, h2, h3):not(:first-child) {
    margin-top: spacing(6) !important;
  }

  :not(h1, h2, h3) > a {
    text-decoration: underline;
  }

  audio, img, figure, table {
    width: 100%;
  }

  blockquote {
    display: flex;
    flex-direction: column;
    gap: spacing(4);
    padding: spacing(2) spacing(4);
    padding-right: 0;
    font-style: italic;
    border-left: 4px solid $neutral-2;
  }

  ul, ol {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
    margin-left: spacing(10);

    @include screen-sm {
      margin-left: spacing(4.5);
    }

    li {
      padding-left: spacing(1);
    }
  }

  ul li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: spacing(2);
      left: spacing(-4);
      width: spacing(2);
      height: spacing(2);
      background: $neutral-2;
    }
  }

  ol {
    list-style: decimal;
  }

  table {
    text-align: left;
  }

  pre, .escape {
    margin: 0;

    @include screen-md {
      margin: 0 spacing(-4);
    }
  }

  @include screen-md {
    pre {
      padding-left: spacing(4);
      padding-right: spacing(4);
      border-radius: 0;
    }
  }

  .wrap {
    display: flex;
    gap: spacing(4);
    overflow-x: auto;

    @include screen-sm {
      flex-direction: column;
    }
  }

  sub, sup {
    font: inherit;
    vertical-align: baseline;
  }

  a[href^="#fn:"] {
    text-decoration: none;
    font-feature-settings: "tnum";

    &::before { content: '['; }
    &::after  { content: ']'; }
  }

  .footnotes {
    a[href^="#fnref:"] {
      text-decoration: none;
    }

    hr {
      margin: spacing(8) 0;
    }

    & > ol {
      margin-left: spacing(4.5);

      & > li {
        padding-left: spacing(5);
        counter-increment: footnote-count;

        @include tail {
          margin-top: spacing(4);
        }

        &::marker {
          content: '[' counter(footnote-count) ']';
          font-feature-settings: "tnum";
        }
      }
    }
  }
}
