@import 'utils';

.markdown {
  hyphens: auto;

  &,
  blockquote,
  li {
    & > *:not(:first-child) {
      margin-top: spacing(4);
    }

    & > :is(h1, h2, h3):not(:first-child) {
      margin-top: spacing(6);
    }
  }

  :not(h1, h2, h3) > a {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--shade-5);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-underline-offset: spacing(0.5);
  }

  audio,
  figure,
  img,
  table {
    width: 100%;
  }

  b,
  th,
  strong {
    color: var(--shade-1);
    font-weight: 700;
  }

  blockquote {
    position: relative;
    max-width: fit-content;
    padding: spacing(4) spacing(12);
    font-style: italic;

    &::before,
    &::after {
      position: absolute;
      color: transparent;
      font-size: spacing(32);
      font-weight: 700;
      font-style: normal;
      line-height: 1;
      -webkit-text-stroke: 2px var(--shade-7);
      z-index: -1;
    }

    &::before {
      content: '“';
      top: spacing(-3);
      left: spacing(-2);
    }

    &::after {
      content: '”';
      bottom: spacing(-19);
      right: spacing(-2);
    }

    cite::before {
      content: '\2014\00a0';
    }

    p:has(cite) {
      text-align: right;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
    margin: 0 auto;
  }

  figcaption {
    font-size: var(--text-sm);
    text-align: center;
  }

  .fluent {
    display: flex;
    gap: spacing(4);

    @include narrow {
      flex-direction: column;
    }

    & > li {
      flex: 1;
    }
  }

  hr {
    width: spacing(16);
    margin: spacing(8) auto;
    border-bottom: 2px solid var(--shade-5);
  }

  ul:not([class]),
  ol:not([class]) {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
    margin-left: spacing(12);

    @include narrow {
      margin-left: spacing(4);
    }

    & > li {
      padding-left: spacing(1);
    }
  }

  ul:not([class]) > li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: spacing(2);
      left: spacing(-4);
      width: spacing(2);
      height: spacing(2);
      background-color: var(--shade-5);
    }
  }

  ol:not([class]) {
    list-style: decimal;
  }

  & > :is(pre, .overflow) {
    margin-left: 0;
    margin-right: 0;

    @include narrow {
      margin-left: spacing(-4);
      margin-right: spacing(-4);
    }
  }

  @include narrow {
    & > pre {
      padding: spacing(2) spacing(4);
      border-radius: 0;

      .prism-deleted:not(.prism-prefix),
      .prism-inserted:not(.prism-prefix) {
        margin: 0 spacing(-4);

        & > :first-child {
          margin-left: spacing(4);
        }

        & > :last-child {
          margin-right: spacing(4);
        }
      }
    }
  }

  sub,
  sup {
    font-size: var(--text-sm);
  }

  sub[id^='fnref'],
  sup[id^='fnref'] {
    vertical-align: baseline;
  }

  .table-wrapper {
    border-width: 1px;
    border-radius: var(--rounded);
    overflow-x: auto;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--shade-7);
  }

  th {
    text-align: left;
  }

  th,
  td {
    padding: spacing(1.5) spacing(2.5);
  }

  a[href^='#fn:'] {
    font-feature-settings: 'tnum';

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  .w-25 {
    width: 25%;
  }

  .w-50 {
    width: 50%;
  }

  .w-75 {
    width: 75%;
  }

  @include narrow {
    .w-25,
    .w-50,
    .w-75 {
      width: 100%;
    }
  }

  .footnotes > ol {
    margin-left: spacing(4.5);

    & > li {
      padding-left: spacing(4);
      counter-increment: footnote-count;

      &::marker {
        content: '[' counter(footnote-count) ']';
        font-feature-settings: 'tnum';
      }
    }
  }
}
