@import "utilities";

.markdown {
  text-align: left;
  line-height: 1.65;
  hyphens: auto;

  @include tail {
    margin-top: spacing(5);
  }

  @include screen-md {
    text-align: justify;
  }

  h1, h2, h3 {
    &:not(:first-child) {
      margin-top: spacing(8) !important;
    }
  }

  audio, img, table {
    width: 100%;
  }

  :not(h1, h2, h3) > a {
    text-decoration: underline;
  }

  ul, ol {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
    margin-left: spacing(5);

    li {
      padding-left: spacing(1);
    }
  }

  @include screen-sm {
    ul, ol {
      margin-left: spacing(10);
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: spacing(2);
        left: spacing(-4);
        width: spacing(2);
        height: spacing(2);
        background: $neutral-2;
      }
    }
  }

  ol {
    list-style: decimal;
  }

  figure {
    width: 100%;
    overflow-x: auto;

    figcaption {
      @include text-sm;
      margin-top: spacing(2);
      text-align: center;
    }
  }

  blockquote {
    display: flex;
    flex-direction: column;
    gap: spacing(2.5);
    padding: spacing(3) 0 spacing(3) spacing(5);
    font-style: italic;
    border-left: 4px solid $neutral-2;
  }

  a[href^="#fn:"] {
    text-decoration: none;
    font-feature-settings: "tnum";

    &::before { content: '['; }
    &::after  { content: ']'; }
  }

  sub, sup {
    position: relative;
    top: 0;
    font: inherit;
    vertical-align: baseline;
  }

  pre[class*="language-"] {
    margin: 0 spacing(-4);

    @include screen-md {
      margin: 0;
    }
  }

  .escape {
    margin: 0 spacing(-4);

    @include screen-md {
      margin: 0;
    }
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: spacing(5);

    @include screen-sm {
      flex-direction: row;
    }
  }

  .footnotes {
    a[href^="#fnref:"] {
      text-decoration: none;
    }

    hr {
      margin: spacing(8) 0;
    }

    & > ol {
      margin-left: spacing(5);

      & > li {
        padding-left: spacing(5);
        counter-increment: footnote-count;

        @include tail {
          margin-top: spacing(5);
        }

        &::marker {
          content: '[' counter(footnote-count) ']';
          font-feature-settings: "tnum";
        }
      }
    }
  }
}
