mark {
  @apply relative;
  @apply bg-inherit;
  @apply text-inherit;

  &:after {
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply bg-accent;
    @apply -z-10;

    content: '';
    width: calc(100% + 0.5em);
    height: 0.4em;
    transform: skew(-15deg) translateX(-0.25em);
  }
}
