@import "common";

.meta {
  display: flex;
  flex-direction: column;
  gap: spacing(0.5);
  color: $gray-3;
  font-size: $font-sm;
  font-weight: 500;

  ul {
    display: flex;
    gap: spacing(2);
  }

  a {
    display: block;
    padding: spacing(0.25) spacing(1.5);
    background: $gray-7;
    border-radius: $radius;
  }
}
