@import "utils";

.meta {
  @include text-sm;
  display: flex;
  flex-direction: column;
  gap: spacing(1);
  color: $gray-3;
  font-weight: 500;

  ul {
    display: flex;
    gap: spacing(2);
  }

  a {
    display: block;
    padding: spacing(0.75) spacing(1.5);
    background: $gray-7;
    border-radius: $radius;
  }
}
