@import 'common';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing(6);
  width: 100%;
  max-width: $content;
  margin: 0 auto;
  padding: spacing(3.5) spacing(4);

  ul {
    display: flex;
    align-items: center;
    gap: spacing(4);
    font-weight: 500;
  }
}

footer {
  font-size: var(--font-sm);
  margin: 0 auto;
  padding: spacing(5) spacing(4);

  ul {
    display: flex;
    align-items: center;
    gap: spacing(2);
  }
}
