@import "utilities";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: spacing(8);
  width: 100%;
  max-width: $md;
  margin: 0 auto;
  padding: spacing(5) spacing(4);
  color: var(--color-neutral-1);

  &-menu {
    display: flex;
    align-items: center;
    gap: spacing(8);
  }

  &-links {
    display: none;
    align-items: center;
    gap: spacing(8);
    font-weight: 500;

    @include screen-sm {
      display: flex;
    }
  }
}

.mobile-menu {
  display: flex;
  position: relative;

  @include screen-sm {
    display: none;
  }

  &-window {
    position: absolute;
    top: spacing(10);
    right: 0;
    background: var(--color-neutral-5);
    z-index: 9999;
  }

  &-links {
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }

  &-link {
    display: flex;
    padding: spacing(2) spacing(3);
  }
}

.wordmark {
  display: flex;
  align-items: center;
  gap: spacing(1.5);
  font-weight: 800;

  &::after {
    content: '';
    width: spacing(2.5);
    height: spacing(4);
    background: var(--color-accent);
    border-radius: 1px;

    @keyframes pulsate {
      0%   { opacity: 0; }
      50%  { opacity: 1; }
      100% { opacity: 0; }
    }

    animation: pulsate 1s infinite;
  }
}

