@import "utilities";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: spacing(8);
  width: 100%;
  max-width: $md;
  margin: 0 auto;
  padding: spacing(5) spacing(4);
  color: var(--color-neutral-1);

  &-menu {
    display: flex;
    gap: spacing(8);
  }

  &-links {
    display: flex;
    gap: spacing(8);
    font-weight: 500;
  }
}

.wordmark {
  display: flex;
  align-items: center;
  gap: spacing(1.5);
  font-weight: 800;

  &::after {
    content: '';
    width: spacing(2.5);
    height: spacing(4);
    background: var(--color-accent);
    border-radius: 1px;

    @keyframes pulsate {
      0%   { opacity: 0; }
      50%  { opacity: 1; }
      100% { opacity: 0; }
    }

    animation: pulsate 1s infinite;
  }
}

