@import 'common';

@keyframes draw {
  0% {
    visibility: hidden;
    stroke-dasharray: 0 1024px;
  }
  100% {
    stroke-dasharray: 1024px 0;
  }
}

#logo {
  path {
    animation: draw 2s ease both;
  }

  #logoUpperMedium {
    animation-timing-function: ease-out;
    animation-delay: 625ms;
  }

  #logoLowerShort {
    animation-timing-function: ease-out;
    animation-delay: 825ms;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing(8);
  width: 100%;
  max-width: $content;
  margin: 0 auto;
  padding: spacing(4);
  color: var(--gray-1);

  ul {
    display: flex;
    gap: spacing(8);
    font-weight: 500;
  }
}

footer {
  margin: 0 auto;
  padding: spacing(8) spacing(4);
  font-size: var(--text-sm);

  ul {
    display: flex;
    gap: spacing(6);
  }
}
