@import "utils";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: spacing(8);
  width: 100%;
  max-width: $md;
  margin: 0 auto;
  padding: spacing(5) spacing(4);
  color: $neutral-1;
  font-weight: 500;

  .brand {
    display: flex;
    align-items: center;
    gap: spacing(1.5);
    font-weight: 800;

    &::after {
      content: '';
      width: spacing(2.5);
      height: spacing(4);
      background: $accent;
      border-radius: 1px;
      animation: pulsate 1s infinite;

      @keyframes pulsate {
          0% { opacity: 0; }
         50% { opacity: 1; }
        100% { opacity: 0; }
      }
    }
  }

  .items {
    display: flex;
    align-items: center;
    gap: spacing(8);
  }

  .nav {
    display: flex;

    @include screen-sm {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: spacing(8);
    }
  }

  .mobile {
    display: none;
    position: relative;

    @include screen-sm {
      display: flex;
    }
  }

  .mobile-nav {
    position: absolute;
    top: spacing(10);
    right: 0;
    background: $neutral-5;
    z-index: 9999;

    ul {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        padding: spacing(1.5) spacing(2.5);
      }
    }
  }
}

.footer {
  @include text-sm;
  margin: 0 auto;
  padding: spacing(5) spacing(4);

  ul {
    display: flex;
    gap: spacing(6);
  }
}
