@import "common";

.pagination {
  display: flex;
  gap: spacing(4);

  .button {
    padding: spacing(1) spacing(2);
    background: $gray-6;
    color: $gray-1;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: $gray-5;
    }

    &:active {
      background: $gray-4;
    }
  }
}
