@import "common";

.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(16);
}

.pagination {
  display: flex;
  gap: spacing(4);

  a {
    color: var(--gray-2);
    background: var(--gray-6);
    padding: spacing(2);
    border-radius: var(--rounded);
    user-select: none;

    &:hover {
      background: var(--gray-5);
    }

    &:active {
      background: var(--gray-4);
    }
  }
}

.preview {
  padding-bottom: spacing(8);
  border-bottom: 2px dashed var(--gray-6);

  &:not(:first-child) {
    padding-top: spacing(8);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: spacing(4);
  }

  header {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
  }

  h1 {
    font-size: var(--font-md);
  }
}
