$color-prose-1: rgb(36, 41, 47);
$color-prose-2: rgb(87, 96, 106);
$color-prose-3: rgb(164, 174, 186);
$color-elevate-1: rgb(255, 255, 255);
$color-elevate-2: rgb(248, 249, 250);
$color-elevate-3: rgb(229, 231, 235);
$color-accent: rgb(167, 202, 226);

$dark-color-prose-1: rgb(249, 252, 255);
$dark-color-prose-2: rgb(187, 193, 199);
$dark-color-prose-3: rgb(94, 106, 118);
$dark-color-elevate-1: rgb(34, 39, 46);
$dark-color-elevate-2: rgb(43, 49, 58);
$dark-color-elevate-3: rgb(71, 81, 95);
$dark-color-accent: rgb(80, 133, 181);
