$accent: rgb(158, 210, 255);
$neutral-0: rgb(36, 41, 47);
$neutral-1: scale-color($neutral-0, $lightness: 12.5%);
$neutral-2: scale-color($neutral-0, $lightness: 62.5%);
$neutral-5: rgb(255, 255, 255);
$neutral-4: rgb(248, 249, 250);
$neutral-3: scale-color($neutral-4, $lightness: -10%);

$dark-accent: rgb(80, 133, 181);
$dark-neutral-0: rgb(207, 212, 217);
$dark-neutral-1: scale-color($dark-neutral-0, $lightness: -10%);
$dark-neutral-2: scale-color($dark-neutral-0, $lightness: -50%);
$dark-neutral-5: rgb(34, 39, 46);
$dark-neutral-4: scale-color($dark-neutral-5, $lightness: 5%);
$dark-neutral-3: scale-color($dark-neutral-5, $lightness: 20%);
