@import "palette";

:root {
  --player: #{scale-color($neutral-0, $lightness: 50%)};
}

.dark {
  --player: #{scale-color($dark-neutral-0, $lightness: -40%)};
}

.player {
  @apply flex;
  @apply items-center;
  @apply bg-neutral-4;
  @apply text-sm;
  @apply border;
  @apply border-neutral-3;
  @apply rounded-sm;
  @apply touch-action-none;
  @apply font-feature-tnum;

  color: var(--player);

  .bar {
    @apply flex;
    @apply flex-1;
    @apply h-1;
    @apply bg-neutral-3;

    & > div {
      background: var(--player);
    }
  }
}
