@import "variables";

.post {
  @apply text-left;
  @apply hyphens-auto;
  @apply leading-7;

  @screen md {
    @apply text-justify;
  }

  & > * {
    @apply mt-2;
    @apply mb-6;

    &:first-child {
      @apply mt-0;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  h1 {
    @apply mb-3;
    @apply pb-3;
  }

  h2, h3, h4, h5, h6 {
    @apply mb-2;
    @apply pb-2;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-9;
    @apply text-left;
    @apply font-bold;
    @apply border-b-2;
    @apply border-dashed;
    @apply border-midpoint;

    a {
      @apply no-underline;
    }
  }

  h1 { @apply text-3xl;  }
  h2 { @apply text-2xl;  }
  h3 { @apply text-xl;   }
  h4 { @apply text-lg;   }
  h5 { @apply text-base; }
  h6 { @apply text-base; }

  a {
    @apply underline;
  }

  ul, ol {
    @apply ml-5;

    li {
      @apply mt-1.5;

      &:first-child {
        @apply mt-0;
      }
    }
  }

  @screen sm {
    ul, ol {
      @apply ml-10;
    }
  }

  ul { @apply list-disc;    }
  ol { @apply list-decimal; }

  table {
    @apply w-full;
    @apply text-left;
    @apply border-collapse;

    thead tr {
      @apply border-b-2;
      @apply border-midpoint;
    }

    tbody tr {
      @apply border-b;
      @apply border-midpoint;
    }

    th, td {
      @apply px-3;
      @apply py-2;
    }

    th {
      @apply pt-0;
    }
  }

  blockquote {
    @apply px-4;
    @apply py-2.5;
    @apply border-2;
    @apply border-dashed;
    @apply border-midpoint;

    border-left-width: 5px;
    border-left-style: solid;

    p {
      @apply my-0;

      &:not(:first-child) {
        @apply mt-3;
      }
    }
  }

  audio {
    @apply w-full;
  }

  a[href^="#fn:"] {
    @apply no-underline;

    &:before { content: '['; }
    &:after  { content: ']'; }
  }

  sup {
    @apply relative;
    @apply top-0;
    @apply text-base;

    vertical-align: baseline;
  }

  .footnotes {
    a[href^="#fnref:"] {
      @apply no-underline;
    }

    hr {
      @apply hidden;
    }

    ol {
      @apply ml-5;
    }

    li {
      counter-increment: footnote-count;

      &::marker {
        @apply pr-2;

        content: "[" counter(footnote-count) "]";
      }

      p {
        padding-left: 10px;
      }
    }
  }
}
