@import 'utils';

.post {
  display: flex;
  flex-direction: column;
  gap: spacing(6);

  header {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
  }

  section {
    position: relative;
  }
}

.meta {
  display: flex;
  flex-direction: column;
  gap: spacing(1);
  color: var(--shade-3);
  font-size: var(--text-sm);
  font-weight: 500;
}

.tags {
  display: flex;
  gap: spacing(2);
}

.tag {
  padding: spacing(1) spacing(1.5);
  background-color: var(--shade-7);
  border-radius: var(--rounded);

  &:hover {
    background-color: var(--shade-6);
  }
}
