@import 'common';

.post {
  display: flex;
  flex-direction: column;
  gap: spacing(5);

  header {
    display: flex;
    flex-direction: column;
    gap: spacing(2.5);
  }
}

.meta {
  display: flex;
  flex-direction: column;
  gap: spacing(1);
  color: var(--gray-3);
  font-size: var(--text-sm);
  font-weight: 500;
}

.tags {
  display: flex;
  gap: spacing(2);
}

.tag {
  background-color: var(--gray-7);
  padding: spacing(1) spacing(1.5);
  border-radius: var(--rounded);

  &:hover {
    background-color: var(--gray-6);
  }
}
