@import "utils";

pre, code {
  background: $gray-5;
  font-size: 0.8rem;
  font-family: 'JetBrains Mono', ui-monospace, monospace;
  border-radius: $border-radius;
  hyphens: none;
}

pre {
  padding: spacing(2) spacing(3);
  overflow-x: auto;
  white-space: pre;
}

:not(pre) > code {
  padding: spacing(0.5) spacing(1);
}

@mixin variables($factor) {
  --prism-del: #{scale-color(#bf616a, $lightness: $factor * -10%, $saturation: $factor * 20%)};
  --prism-dec: #{scale-color(#88c0d0, $lightness: $factor * -10%, $saturation: $factor * 20%)};
  --prism-key: #{scale-color(#81a1c1, $lightness: $factor * -10%, $saturation: $factor * 20%)};
  --prism-num: #{scale-color(#b48ead, $lightness: $factor * -10%, $saturation: $factor * 20%)};
  --prism-str: #{scale-color(#a3be8c, $lightness: $factor * -10%, $saturation: $factor * 20%)};
}

:root {
  @include variables(1);
}

.dark {
  @include variables(0);
}

[class*="language-"] .namespace {
  opacity: 0.75;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: $gray-3;
}

.token.boolean,
.token.builtin,
.token.constant,
.token.entity,
.token.keyword,
.token.operator,
.token.property,
.token.punctuation,
.token.symbol,
.token.tag,
.token.url,
.token.variable {
  color: var(--prism-key);
}

.token.deleted {
  color: var(--prism-del);
}

.token.number {
  color: var(--prism-num);
}

.token.attr-name,
.token.char,
.token.inserted,
.token.important,
.token.regex,
.token.selector,
.token.string {
  color: var(--prism-str);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--prism-dec);
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.deleted:not(.prefix),
.token.inserted:not(.prefix) {
  display: block;
  margin: 0 spacing(-3);
  color: inherit;

  & > :first-child {
    margin-left: spacing(3);
  }

  & > :last-child {
    margin-right: spacing(3);
  }
}

.token.deleted:not(.prefix) {
  background: rgba(255, 0, 0, 0.1);
}

.token.inserted:not(.prefix) {
  background: rgba(0, 255, 128, 0.1);
}
