pre[class*="language-"],
:not(pre) > code {
  @apply bg-elevate-2;
  @apply text-sm;
  @apply border;
  @apply border-elevate-3;
  @apply rounded-sm;
}

pre[class*="language-"],
code[class*="language-"] {
  @apply leading-[1.65];
  @apply whitespace-pre;
  @apply hyphens-none;

  .table {
    @apply inline #{!important};
  }
}

pre[class*="language-"] {
  @apply py-3;
  @apply overflow-x-auto;
}

code[class*="language-"] {
  // Workaround for background culling
  // https://stackoverflow.com/a/8513330
  @apply min-w-full;
  @apply float-left;
  @apply px-4;
}

:not(pre) > code {
  @apply px-1;
  @apply py-0.5;
}

[class*="language-"] .namespace {
  @apply opacity-75;
}

$prism-deleted: #bf616a;
$prism-declaration: #88c0d0;
$prism-keyword: #81a1c1;
$prism-number: #b48ead;
$prism-string: #a3be8c;

:root {
  --prism-comment: #b8bfcc;
  --prism-deleted: #{scale-color($prism-deleted, $lightness: -10%, $saturation: 20%)};
  --prism-declaration: #{scale-color($prism-declaration, $lightness: -10%, $saturation: 20%)};
  --prism-keyword: #{scale-color($prism-keyword, $lightness: -10%, $saturation: 20%)};
  --prism-number: #{scale-color($prism-number, $lightness: -10%, $saturation: 20%)};
  --prism-string: #{scale-color($prism-string, $lightness: -10%, $saturation: 20%)};
}

.dark {
  --prism-comment: #636f88;
  --prism-deleted: #{$prism-deleted};
  --prism-declaration: #{$prism-declaration};
  --prism-keyword: #{$prism-keyword};
  --prism-number: #{$prism-number};
  --prism-string: #{$prism-string};
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--prism-comment);
}

.token.boolean,
.token.builtin,
.token.constant,
.token.entity,
.token.keyword,
.token.operator,
.token.property,
.token.punctuation,
.token.symbol,
.token.tag,
.token.url,
.token.variable {
  color: var(--prism-keyword);
}

.token.deleted {
  color: var(--prism-deleted);
}

.token.number {
  color: var(--prism-number);
}

.token.attr-name,
.token.char,
.token.inserted,
.token.important,
.token.regex,
.token.selector,
.token.string {
  color: var(--prism-string);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--prism-declaration);
}

.token.bold,
.token.important {
  @apply font-bold;
}

pre > code .token.deleted:not(.prefix),
code .token.inserted:not(.prefix) {
  @apply block;
  @apply -mx-4;
  @apply text-inherit;

  & > *:first-child {
    @apply ml-4;
  }

  & > *:last-child {
    @apply mr-4;
  }
}

pre > code .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, 0.1);
}

pre > code .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, 0.1);
}
