// Based on https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  color: inherit;
  font: inherit;
  background-color: transparent;
  background-image: none;
  border: none;
  appearance: button;
  cursor: pointer;
}

b,
strong {
  font-weight: 700;
}

hr {
  border: none;
}

audio,
canvas,
img,
svg,
video {
  display: block;
}

img,
video {
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

[hidden] {
  display: none;
}
