*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: 700;
}

button {
  background: transparent;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
}

hr {
  border: none;
}

img, video, audio, canvas, svg {
  display: block;
}

img, video {
  height: auto;
  max-width: 100%;
}

ol, ul, menu {
  list-style: none;
}

table {
  text-indent: 0;
  border-collapse: collapse;
}
