@import "utils";

* {
  scrollbar-width: thin;
  scrollbar-color: $gray-6 $gray-7;
}

::-webkit-scrollbar {
  width: spacing(2.5);
  height: spacing(2.5);
}

::-webkit-scrollbar-track-piece {
  background: $gray-7;
}

::-webkit-scrollbar-thumb {
  background: $gray-6;

  &:hover {
    background: $gray-5;
  }

  &:active {
    background: $gray-4;
  }
}
