@import "utils";

@mixin variables($background, $factor) {
  --track-1: #{scale-color($background, $lightness: $factor * 5%)};
  --thumb-1: #{scale-color($background, $lightness: $factor * 20%)};
  --thumb-2: #{scale-color($background, $lightness: $factor * 30%)};
  --thumb-3: #{scale-color($background, $lightness: $factor * 40%)};
}

:root {
  @include variables($neutral-6-l, -1);
}

.dark {
  @include variables($neutral-6-d, 1);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-1) var(--track-1);
}

::-webkit-scrollbar {
  width: spacing(2);
  height: spacing(2);
}

::-webkit-scrollbar-track-piece {
  background: var(--track-1);
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-1);

  &:hover  { background: var(--thumb-2); }
  &:active { background: var(--thumb-3); }
}
