@import "utilities";

// Todo: move these into markdown and use <div class> instead of shortcode?

.escape {
  margin: 0 spacing(-4);

  @include screen-md {
    margin: 0;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: spacing(5);

  @include screen-sm {
    flex-direction: row;
  }
}
