@import "variables";

html, body {
  @apply w-full;
  @apply h-full;
}

body {
  @apply m-0;
  @apply p-0;
  @apply bg-backdrop-0;
  @apply text-neutral-1;
  @apply font-alliance;
  @apply antialiased;

  font-feature-settings: "ss01", "ss02", "ss03", "liga" 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-accent;

  color: $neutral-0;
}

$scrollbar-thumb: scale-color($backdrop-0, $lightness: -20%);
$scrollbar-track: scale-color($backdrop-0, $lightness: -5%);
$dark-scrollbar-thumb: scale-color($dark-backdrop-0, $lightness: 20%);
$dark-scrollbar-track: scale-color($dark-backdrop-0, $lightness: 5%);

* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb $scrollbar-track;

  .dark & {
    scrollbar-color: $dark-scrollbar-thumb $dark-scrollbar-track;
  }
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
}

::-webkit-scrollbar-track-piece {
  background: $scrollbar-track;

  .dark & {
    background: $dark-scrollbar-track;
  }
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;

  .dark & {
    background: $dark-scrollbar-thumb;
  }

  &:hover {
    background: scale-color($scrollbar-thumb, $lightness: -10%);

    .dark & {
      background: scale-color($dark-scrollbar-thumb, $lightness: 10%);
    }
  }

  &:active {
    background: scale-color($scrollbar-thumb, $lightness: -20%);

    .dark & {
      background: scale-color($dark-scrollbar-thumb, $lightness: 20%);
    }
  }
}

button:focus {
  @apply outline-none;
}

audio:focus {
  @apply outline-none;
}
