body {
  @apply antialiased;

  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 0;
}

::selection {
  @apply text-gray-900;
  @apply bg-blue-light;

  .dark-mode & {
    @apply bg-blue-dark;
  }
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
  @apply bg-white;

  .dark-mode & {
    @apply bg-dark-500;
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-light-400;

  .dark-mode & {
    @apply bg-dark-200;
  }

  &:hover {
    @apply bg-light-500;

    .dark-mode & {
      @apply bg-dark-100;
    }
  }
}

.mobile-menu {
  @apply fixed;
  @apply z-20;

  top: 4.5rem;
  max-height: calc(100% - 4.5rem);

  &::-webkit-scrollbar {
    @apply bg-gray-900;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-500;

    &:hover {
      @apply bg-gray-400;
    }
  }
}

.nav-item-animation {
  @keyframes animation {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(100%);
    }
  }

  transform-origin: left;
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 animation;
}

:target::before {
  content: "";
  display: block;
  height: 5.5rem;
  margin: -5.5rem 0 0;
}
