@import "variables";

body {
  @apply m-0;
  @apply p-0;
  @apply text-var-color;
  @apply bg-var-background;
  @apply font-roboto;
  @apply antialiased;

  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

button:focus {
  @apply outline-none;
}

::selection {
  @apply bg-var-accent;

  color: #222222;
}

::-webkit-scrollbar {
  @apply w-2;
  @apply bg-var-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-complement-alpha-200;

  &:hover {
    @apply bg-complement-alpha-300;
  }
}
