@mixin font($name, $file, $weight) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
    src: local($name), url('/fonts/#{$file}-#{$weight}.woff2') format('woff2');
  }

  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: italic;
    font-display: swap;
    src: local($name), url('/fonts/#{$file}-#{$weight}-italic.woff2') format('woff2');
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter'), url('/fonts/inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter'), url('/fonts/inter-italic.woff2') format('woff2');
}

@include font('JetBrains Mono', 'jetbrains-mono', 400);
@include font('JetBrains Mono', 'jetbrains-mono', 500);
@include font('JetBrains Mono', 'jetbrains-mono', 700);
