.container {
  @apply max-w-screen-md;
  @apply mx-auto;
  @apply px-4;
}

.hyphens-auto {
  hyphens: auto;
}

.hyphens-none {
  hyphens: none;
}

.touch-action-none {
  touch-action: none;
}

.wide-image {
  img {
    width: 100% !important;
  }
}
