@function spacing($value) {
  @return #{(0.25 * $value)}rem;
}

$border-radius: spacing(0.5);
$container-padding: spacing(16) spacing(4);

@mixin tail {
  & > :not([hidden]) ~ :not([hidden]) {
    @content;
  }
}

$sm: 40rem;
$md: 45rem;
$lg: 60rem;
$xl: 80rem;

@mixin screen-sm { @media screen and (max-width: $sm) { @content } };
@mixin screen-md { @media screen and (max-width: $md) { @content } };
@mixin screen-lg { @media screen and (max-width: $lg) { @content } };
@mixin screen-xl { @media screen and (max-width: $xl) { @content } };

@mixin text-sm {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.005em;
}

@mixin text-md {
  font-size: 1.1rem;
  line-height: 1.75rem;
  letter-spacing: -0.011em;
}

@mixin text-lg {
  font-size: 1.2rem;
  line-height: 1.75rem;
  letter-spacing: -0.013em;
}

@mixin text-xl {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.019em;
}

$neutral-1-light: hsl(215, 15%, 15%);
$neutral-2-light: hsl(215, 15%, 30%);
$neutral-3-light: hsl(215, 15%, 70%);
$neutral-4-light: hsl(215, 15%, 90%);
$neutral-5-light: hsl(215, 15%, 97%);
$neutral-6-light: hsl(215, 15%, 100%);
$accent-light: hsl(205, 50%, 75%);

$neutral-1-dark: hsl(215, 15%, 97%);
$neutral-2-dark: hsl(215, 15%, 80%);
$neutral-3-dark: hsl(215, 15%, 40%);
$neutral-4-dark: hsl(215, 15%, 30%);
$neutral-5-dark: hsl(215, 15%, 20%);
$neutral-6-dark: hsl(215, 15%, 15%);
$accent-dark: hsl(205, 40%, 50%);

$neutral-1: var(--neutral-1);
$neutral-2: var(--neutral-2);
$neutral-3: var(--neutral-3);
$neutral-4: var(--neutral-4);
$neutral-5: var(--neutral-5);
$neutral-6: var(--neutral-6);
$accent: var(--accent);
