@function spacing($value) {
  @return #{(0.25 * $value)}rem;
}

$container-padding: spacing(16) spacing(4);

@mixin tail {
  & > :not([hidden]) ~ :not([hidden]) {
    @content;
  }
}

$sm: 40rem;
$md: 45rem;
$lg: 60rem;
$xl: 80rem;

@mixin screen-sm { @media screen and (max-width: $sm) { @content } };
@mixin screen-md { @media screen and (max-width: $md) { @content } };
@mixin screen-lg { @media screen and (max-width: $lg) { @content } };
@mixin screen-xl { @media screen and (max-width: $xl) { @content } };

@mixin text-sm {
  font-size: 0.85rem;
  line-height: 1.25rem;
}

@mixin text-md {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin text-xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

$l-neutral-1: rgb(36, 41, 47);
$l-neutral-2: rgb(66, 75, 86);
$l-neutral-3: rgb(170, 178, 194);
$l-neutral-4: rgb(225, 229, 237);
$l-neutral-5: rgb(246, 248, 250);
$l-neutral-6: rgb(255, 255, 255);
$l-accent: rgb(167, 202, 226);

$d-neutral-1: rgb(249, 252, 255);
$d-neutral-2: rgb(205, 211, 217);
$d-neutral-3: rgb(110, 122, 134);
$d-neutral-4: rgb(68, 78, 92);
$d-neutral-5: rgb(45, 52, 61);
$d-neutral-6: rgb(34, 39, 46);
$d-accent: rgb(80, 133, 181);

$neutral-1: var(--neutral-1);
$neutral-2: var(--neutral-2);
$neutral-3: var(--neutral-3);
$neutral-4: var(--neutral-4);
$neutral-5: var(--neutral-5);
$neutral-6: var(--neutral-6);
$accent: var(--accent);
