@import "palette";

@function spacing($value) {
  @return #{(0.25 * $value)}rem;
}

$border-radius: spacing(0.5);
$container-padding: spacing(16) spacing(4);

@mixin tail {
  & > :not([hidden]) ~ :not([hidden]) {
    @content;
  }
}

$sm: 40rem;
$md: 45rem;
$lg: 60rem;
$xl: 80rem;

@mixin screen-sm { @media screen and (max-width: $sm) { @content } };
@mixin screen-md { @media screen and (max-width: $md) { @content } };
@mixin screen-lg { @media screen and (max-width: $lg) { @content } };
@mixin screen-xl { @media screen and (max-width: $xl) { @content } };

@mixin text-sm {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.005em;
}

@mixin text-md {
  font-size: 1.1rem;
  line-height: 1.75rem;
  letter-spacing: -0.011em;
}

@mixin text-lg {
  font-size: 1.2rem;
  line-height: 1.75rem;
  letter-spacing: -0.013em;
}

@mixin text-xl {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.019em;
}

$gray-1: var(--gray-1);
$gray-2: var(--gray-2);
$gray-3: var(--gray-3);
$gray-4: var(--gray-4);
$gray-5: var(--gray-5);
$gray-6: var(--gray-6);
$accent: var(--accent);
