.container {
  @apply max-w-screen-md;
  @apply mx-auto;
  @apply px-4;
}

.hyphens-none {
  hyphens: none;
}

.hyphens-auto {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.wide-image {
  img {
    width: auto !important;
  }
}
