$light-color: rgb(34, 34, 34);
$light-color-secondary: rgb(153, 153, 153);
$light-color-tertiary: lighten($light-color-secondary, 5%);
$light-background: rgb(255, 255, 255);
$light-background-secondary: darken($light-background, 5%);
$light-background-tertiary: darken($light-background-secondary, 5%);
$light-header: rgb(250, 250, 250);
$light-header-secondary: darken($light-header, 2.5%);
$light-border: rgb(220, 220, 220);
$light-accent: rgb(110, 186, 247);

$dark-color: rgb(169, 169, 179);
$dark-color-secondary: rgb(115, 116, 123);
$dark-color-tertiary: darken($dark-color-secondary, 5%);
$dark-background: rgb(41, 42, 45);
$dark-background-secondary: lighten($dark-background, 7.5%);
$dark-background-tertiary: lighten($dark-background-secondary, 7.5%);
$dark-header: rgb(37, 38, 39);
$dark-header-secondary: lighten($dark-header, 2.5%);
$dark-border: rgb(74, 75, 80);
$dark-accent: rgb(72, 168, 245);

:root {
  --color: #{$light-color};
  --color-secondary: #{$light-color-secondary};
  --color-tertiary: #{$light-color-tertiary};
  --background: #{$light-background};
  --background-secondary: #{$light-background-secondary};
  --background-tertiary: #{$light-background-tertiary};
  --header: #{$light-header};
  --header-secondary: #{$light-header-secondary};
  --border: #{$light-border};
  --accent: #{$light-accent};
}

.dark {
  --color: #{$dark-color};
  --color-secondary: #{$dark-color-secondary};
  --color-tertiary: #{$dark-color-tertiary};
  --background: #{$dark-background};
  --background-secondary: #{$dark-background-secondary};
  --background-tertiary: #{$dark-background-tertiary};
  --header: #{$dark-header};
  --header-secondary: #{$dark-header-secondary};
  --border: #{$dark-border};
  --accent: #{$dark-accent};
}
