$neutral-1: #333;
$neutral-5: #fff;
$neutral-3: mix($neutral-1, $neutral-5, 25%);
$neutral-2: mix($neutral-1, $neutral-3, 40%);
$neutral-4: mix($neutral-3, $neutral-5, 25%);
$header: rgb(250, 250, 250);
$border: rgb(229, 229, 229);
$accent: rgb(110, 186, 247);
$meta: rgba($neutral-1, 0.33);

:root {
  --neutral-1: #{$neutral-1};
  --neutral-2: #{$neutral-2};
  --neutral-3: #{$neutral-3};
  --neutral-4: #{$neutral-4};
  --neutral-5: #{$neutral-5};
  --header: #{$header};
  --border: #{$border};
  --accent: #{$accent};
  --meta: #{$meta};
}

$dark-neutral-1: rgb(169, 169, 179);
$dark-neutral-5: rgb(41, 42, 45);
$dark-neutral-3: mix($dark-neutral-1, $dark-neutral-5, 40%);
$dark-neutral-2: mix($dark-neutral-1, $dark-neutral-3, 50%);
$dark-neutral-4: mix($dark-neutral-3, $dark-neutral-5, 40%);
$dark-header: rgb(37, 38, 39);
$dark-border: rgb(63, 64, 66);
$dark-accent: rgb(72, 168, 245);
$dark-meta: rgba($dark-neutral-1, 0.33);

.dark {
  --neutral-1: #{$dark-neutral-1};
  --neutral-2: #{$dark-neutral-2};
  --neutral-3: #{$dark-neutral-3};
  --neutral-4: #{$dark-neutral-4};
  --neutral-5: #{$dark-neutral-5};
  --header: #{$dark-header};
  --border: #{$dark-border};
  --meta: #{$dark-meta};
}
