{{ define "main" }}
  <main class="container">
    <article class="post">
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      <div class="archive">
        {{ $pages := where .Site.RegularPages "Type" "ne" "page" }}
        {{ range $pages.GroupByPublishDate "2006" }}
          <h2 id="{{ .Key }}"><a href="#{{ .Key }}">{{ .Key }}</a></h2>
          <ul>
            {{ range .Pages }}
              <li class="record" v-href="{{ .RelPermalink }}">
                <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
                {{ partial "tags" . }}
                {{ partial "date" . }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </article>
  </main>
{{ end }}
