<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
        {{ . }}{{ end }}{{ else }}{{ .Title }} ::
        {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
      </title>
    {{ end }}
    {{ partial "head.html" . }}
  </head>
  <body class="flex flex-col {{ if ne $.Site.Params.defaultTheme "light" -}} dark {{- end -}}">
    {{ partial "header.html" . }}

    {{ block "main" . }} {{ end }}
  </body>
</html>
