{{ define "main" }}
  <main class="container list">
    <ul>
      {{ $pages := where .Site.RegularPages "Type" "ne" "page" }}
      {{ range $pages.GroupByPublishDate "2006" }}
        <li>
          <div class="year">
            <h1>{{ .Key }}</h1>
          </div>
          <ul>
            {{ range .Pages }}
              <li>
                <a class="item" href="{{ .RelPermalink }}">
                  {{- partial "title" . -}}
                  {{- partial "date" . -}}
                </a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
