{{ define "main" }}
  <main class="container post">
    {{ $showMeta := .Params.ShowMeta | default true }}
    {{ $showTitle := .Params.ShowTitle | default true }}
    {{ if or $showMeta $showTitle }}
      <div class="prelude">
        {{ if $showTitle }}
          <h1 class="hash-1">{{- .Title | safeHTML -}}</h1>
        {{ end }}
        {{ if $showMeta }}
          {{ partial "meta" . }}
        {{ end }}
      </div>
    {{ end }}
    <div class="markdown">
      {{ .Content }}
    </div>
  </main>
{{ end }}
