{{ define "main" }}
  <main class="content">
    <article class="post">
      {{ $showMeta := .Params.ShowMeta | default true }}
      {{ $showTitle := .Params.ShowTitle | default true }}
      {{ if or $showMeta $showTitle }}
        <header>
          {{ if $showTitle }}
            <h1>{{- .Title | safeHTML -}}</h1>
          {{ end }}
          {{ if $showMeta }}
            {{ partial "meta" . }}
          {{ end }}
        </header>
      {{ end }}
      <div class="markdown">
        {{ .Content }}
      </div>
    </article>
  </main>
{{ end }}
