{{ define "main" }}
  <div class="post max-w-screen-sm md:max-w-screen-md m-auto px-4 py-4 md:py-16">
    <h1 class="mb-6">{{ .Title | markdownify }}</h1>
    {{ if .Params.ShowMeta | default true }}
      <div class="mb-1">
        {{ if .Date | default nil }}
          {{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }} —
        {{ end }}

        {{ with .Params.Author }}
          {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }} —
        {{ end }}

        {{ if $.Site.Params.ShowReadingTime }}
          {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}
        {{ end }}
      </div>
    {{ end}}

    {{ if .Params.tags }}
      <div class="mb-6 opacity-50">
        {{ range .Params.tags }}
          <a class="no-underline" href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">#{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}

    {{ .Content }}
  </div>
{{ end }}
