.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 1rem;
  color: var(--shade-1);

  ul {
    display: flex;
    gap: 2rem;
    font-weight: 500;
  }
}

footer {
  margin: 0 auto;
  padding: 2rem 1rem;
  font-size: var(--text-sm);

  ul {
    display: flex;
    gap: 1.5rem;
  }
}
