<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
  <meta name="keywords" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"/>
  <link rel="canonical" href="{{ .Permalink }}" />

  <title>
    {{- if .IsHome -}}
      {{- $.Site.Title -}}
    {{- else -}}
      {{- .Title -}}
    {{- end -}}
  </title>

  {{ partial "favicons" . }}
  {{ partial "style" . }}
  {{ partial "esbuild-defer" (dict "ctx" . "path" "js/main.js") }}

  {{ if .Site.IsServer }}
    {{ partial "esbuild-defer" (dict "ctx" . "path" "js/prism.js") }}
  {{ end }}

  <link href="{{ "/fonts/Roboto-Regular.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-RegularItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-Medium.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-MediumItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-Bold.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-BoldItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-Black.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/Roboto-BlackItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/JetBrainsMono-Regular.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/JetBrainsMono-RegularItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/JetBrainsMono-Medium.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/JetBrainsMono-MediumItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/JetBrainsMono-Bold.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
  <link href="{{ "/fonts/JetBrainsMono-BoldItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
