<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Description | plainify }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">

<title>
  {{- if .IsHome -}}
    {{- $.Site.Title -}}
  {{- else -}}
    {{- .Title -}}
  {{- end -}}
</title>

{{ partial "favicon" . }}
{{ partial "styles" . }}
{{ partial "scripts" . }}
{{ partial "preload" . }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
