<header>
  <div class="flow flex justify-between mt-16 text-neutral-1">
    <div class="flex justify-start items-center text-sm">
      <a class="mr-3 font-bold tracking-widest uppercase" href="{{ $.Site.BaseURL }}">{{- $.Site.Title -}}</a>
      <span class="text-neutral-3">pure weaponized autism</span>
    </div>
    <div class="cursor-pointer select-none">
      <svg viewBox="0 0 32 32" fill="currentColor" width="1em" height="1em">
        <circle cx="16" cy="16" r="14" fill="none" stroke="currentcolor" stroke-width="4"></circle>
        <path d=" M 16 0 A 16 16 0 0 0 16 32 z "></path>
      </svg>
    </div>
  </div>
</header>
