{{ range .Paginator.Pages }}
  <div class="post py-8 first:pt-0 border-b-2 border-dashed border-neutral-3">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a>
    </h2>

    {{ partial "meta" . }}

    <div class="mb-0">
      {{ with .Summary }}
        {{ . | $.Page.RenderString }}
      {{ end }}
    </div>

    <a class="inline-flex items-center mt-2 font-bold" href="{{ .RelPermalink }}" style="text-decoration: none">
      <span>Read more</span>
      <span class="ml-1">{{ partial "icon/arrow/right" 16 }}</span>
    </a>
  </div>
{{ end }}
{{ partial "pagination" . }}
