<div class="text-neutral-5 text-sm space-y-1">
  <div>
    {{ if .Date }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "2006/01/02" }}
      </time> &mdash;
    {{ end }}
    {{ .ReadingTime }} minute read
  </div>
  {{ if .Params.Tags }}
    <nav class="flex flex-wrap space-x-2 gap-y-2">
      {{ range .Params.Tags }}
        <a class="px-1.5 bg-backdrop-1 border border-backdrop-3 rounded-sm" href="{{ (printf "tags/%s/" . ) | urlize | absURL }}" style="text-decoration: none">{{ . }}</a>
      {{ end }}
    </nav>
  {{ end }}
</div>
