<div class="space-y-1 text-prose-3 text-sm">
  <div class="space-x-1">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time><span>&mdash;</span><span>{{ .ReadingTime }} minute read</span>
  </div>
  {{ if .Params.Tags }}
    <nav class="flex flex-wrap space-x-2 gap-y-2">
      {{ range .Params.Tags }}
        <a class="px-1.5 py-0.5 bg-elevate-2 rounded-sm" href="{{ (printf "tags/%s/" . ) | urlize | absURL }}">{{ . }}</a>
      {{ end }}
    </nav>
  {{ end }}
</div>
