<div class="mt-12">
  <div class="flex justify-center items-center">
    {{ if .Paginator.HasPrev }}
      <a class="button flex font-bold no-underline" href="{{ .Paginator.Prev.URL }}">
        <span class="mr-1">{{ partial "arrow-left" }}</span>
        <span>{{ $.Site.Params.NewerPosts | default "Newer posts" }}</span>
      </a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a class="button flex font-bold no-underline" href="{{ .Paginator.Next.URL }}">
        <span>{{ $.Site.Params.OlderPosts | default "Older posts" }}</span>
        <span class="ml-1">{{ partial "arrow-right" }}</span>
      </a>
    {{ end }}
  </div>
</div>
