{{ define "main" }}
  <div class="post">
    <h1 class="post-title">404</h1>
    <div class="post-content">
      <p>Sorry, this page seems to be missing.</p>
      {{ if .Site.Taxonomies.tags }}
        <p>Maybe these tags will help you find what you're looking for.</p>
        <div class="terms">
          <ul class="terms__list">
            {{ range .Site.Taxonomies.tags }}
              <li class="terms__term">
                <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>
                <span class="terms__term-count">{{ .Count }}</span>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
