{{ define "main" }}
  <main class="container">
    <article class="post">
      {{ $showMeta := .Params.ShowMeta | default true }}
      {{ $showTitle := .Params.ShowTitle | default true }}
      {{ if or $showMeta $showTitle }}
        <header>
          {{ if $showTitle }}
            <h1>{{ partial "title" . }}</h1>
          {{ end }}
          {{ if $showMeta }}
            <div class="meta">
              <div>{{ partial "date" . }} · <span title="{{ .WordCount }} words">{{ .ReadingTime }} min</span></div>
              {{ with .Params.Tags }}
                <nav>
                  <ul class="tags">
                    {{ range . }}
                      <li>
                        <a class="tag" href="/tags/{{ . | urlize }}/">{{ . }}</a>
                      </li>
                    {{ end }}
                  </ul>
                </nav>
              {{ end }}
            </div>
          {{ end }}
        </header>
      {{ end }}
      <div class="markdown">
        {{
          .Content
            | replaceRE `(<table>(?:.|\n)*?</table>)` `<div class="table-wrapper">${1}</div>`
            | replaceRE `&#160;` ``
            | safeHTML
        }}
      </div>
    </article>
  </main>
{{ end }}
