{{- $destination := .Destination -}}
{{- $blank := true }}
{{- $url := urls.Parse $destination -}}
{{- if not $url.IsAbs -}}
  {{- /* Convert to root relative destination */ -}}
  {{- if not (hasPrefix $destination "/") -}}
    {{- $destination = path.Join .Page.RelPermalink $destination -}}
  {{- end -}}
  {{- $extension := path.Ext $url.Path -}}
  {{- /* Check if destination is a page */ -}}
  {{- if or (eq $extension "") (eq $extension "md") (eq $extension "html") -}}
    {{- /* Check if destination page exists */ -}}
    {{- if not (.Page.GetPage $url.Path) -}}
      {{- errorf "Page not found %s" $url.Path -}}
    {{- end -}}
    {{- $blank = false -}}
  {{- end -}}
{{- end -}}
<a
  href="{{ $destination | safeURL }}"
  {{ if $blank }}target="_blank"{{ end }}
  {{ with .Title }}title="{{ . }}"{{ end }}
>
  {{- .Text | safeHTML -}}
</a>
{{- /* Trim whitespace */ -}}
