*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

button, input {
  font: inherit;
  color: inherit;
  border: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  text-indent: 0;
  border-collapse: collapse;
}

ol, ul, menu {
  list-style: none;
}

img, video, audio, canvas, svg {
  display: block;
}

img, video {
  height: auto;
  max-width: 100%;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}
