@import "palette";

:root {
  $track: scale-color($color-neutral-6, $lightness: -5%);
  $thumb: scale-color($color-neutral-6, $lightness: -20%);

  --color-track: #{$track};
  --color-thumb: #{$thumb};
  --color-thumb-hover: #{scale-color($thumb, $lightness: -10%)};
  --color-thumb-active: #{scale-color($thumb, $lightness: -20%)};
}

.dark {
  $track: scale-color($dark-color-neutral-6, $lightness: 5%);
  $thumb: scale-color($dark-color-neutral-6, $lightness: 20%);

  --color-track: #{$track};
  --color-thumb: #{$thumb};
  --color-thumb-hover: #{scale-color($thumb, $lightness: 10%)};
  --color-thumb-active: #{scale-color($thumb, $lightness: 20%)};
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-thumb) var(--color-track);
}

::-webkit-scrollbar {
  width: spacing(2);
  height: spacing(2);
}

::-webkit-scrollbar-track-piece {
  background: var(--color-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-thumb);

  &:hover {
    background: var(--color-thumb-hover);
  }

  &:active {
    background: var(--color-thumb-active);
  }
}
