{{ $caption := .Get "caption" | $.Page.RenderString }}
{{ $src := .Get "src" }}
{{ $audio := .Page.Resources.GetMatch $src }}
{{ if not $audio }}
  {{ errorf "file not found %s" $src }}
{{ end }}
{{ $version := partial "version" $audio }}
<figure>
  <div data-audio data-src="{{ $audio.RelPermalink }}{{ $version }}"></div>
  <noscript>
    <audio src="{{ $audio.RelPermalink }}{{ $version }}" type="audio/mp3" preload="metadata" controls></audio>
  </noscript>
  {{ with $caption }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
