<figure class="w-full {{ with .Get "class" }}{{ . }}{{ end }}">
  {{ $cap := .Get "caption" }}
  {{ $src := add "/audio/" (.Get "src") | safeURL }}
  <div v-scope="Player()" @mounted="mounted($el)"></div>
  <div class="lozad">
    <audio class="hidden" data-src="{{ $src }}" type="audio/mp3" preload="metadata"></audio>
    <noscript>
      <audio src="{{ $src }}" type="audio/mp3" controls preload="metadata"></audio>
    </noscript>
  </div>
  {{ with $cap }}
    <figcaption class="mt-1.5 text-sm text-center">{{- . | $.Page.RenderString -}}</figcaption>
  {{ end }}
</figure>
