{{ $cap := .Get "caption" }}
{{ $src := .Get "src" }}
{{ with .Page.Resources.GetMatch $src }}
  {{ $src = .RelPermalink }}
{{ else }}
  {{ $src = $src | relURL }}
  {{ if not fileExists (path.Join "static" $src) }}
    {{ errorf "file not found %s" $src }}
  {{ end }}
{{ end }}
<figure>
  <div data-audio data-src="{{ $src }}"></div>
  <noscript>
    <audio src="{{ $src }}" type="audio/mp3" preload="metadata" controls></audio>
  </noscript>
  {{ with $cap }}
    <figcaption>{{ . | $.Page.RenderString }}</figcaption>
  {{ end }}
</figure>
