@keyframes draw {
  0% {
    visibility: hidden;
    stroke-dasharray: 0 1024px;
  }
  100% {
    stroke-dasharray: 1024px 0;
  }
}

#logo-midjourney {
  path {
    animation: draw 2s ease both;
  }

  #logo-midjourney-upper-medium {
    animation-timing-function: ease-out;
    animation-delay: 625ms;
  }

  #logo-midjourney-lower-short {
    animation-timing-function: ease-out;
    animation-delay: 825ms;
  }
}
